h1{
    text-align: center;
}

div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body{
    margin-bottom: 1rem;
}

div>img{
    height: 400px;
    width: 350px;
}

table{
    height: 400px;
    width: 350px;
}